<footer id="footer">
  <div class="container-fluid">
    <a class="footer-link" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a class="footer-link" href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i></a>
    <a class="footer-link" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
    <a class="footer-link" href="mailto:name@gmail.com"><i class="fas fa-envelope"></i></a>
    <p class="copyright">Copyright @2020</p>
  </div>

  </div>

</footer>
