  <!-- Responsive  -->

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Google Fonts -->

  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;0,800;1,700;1,800&family=Montserrat:wght@300;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Fontawesome icons -->

  <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg></script>

  <!-- CSS -->

  <link rel="stylesheet" type="text/css" href="\css\styles.css">
  <link rel="stylesheet" href="\css\bootstrap-social.css">
    <!-- AOS -->
  <link href="https://unpkg.com/aos@next/dist/aos.css" rel="stylesheet">


  <title> JUTE | Income Assessment Web Portal</title>
