<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/meta') %>
  
</head>
<body>

  <%- include('partials/navbar') %>

<!-- DESCRIPTION -->
  <section id="description">
    <div class="info container-fluid">

      <h2>Jute Cycle</h2>
      <p class="desc">
        This is a webpage portal for the Assessment of income generation of jute farmers and workers in the jute
        sectors.
      </p>
      <!-- LOGIN & SIGN UP -->
      <a type="submit" href="/register" class="btn btn-lg btn-outline-light" name="button"><i class="fas fa-user-plus"></i> Sign Up</a>
      <a type="submit" href="/login" class="btn btn-lg btn-outline-light" name="button"><i class="fas fa-sign-in-alt"></i> Login</a>

    </div>

  </section>

</body>

<%- include('partials/footer') %>

</html>
