<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('partials/header') %>

  <div class="container">
    <h1 class="title">Input Form</h1>

    <div class="card">
      <div class="card-body">

        <form class="" action="/main" method="POST">
          <div class="form-row">

            <div class="form-group col-md-12">
              <label class="label-register label-name" for="username">Form Title</label><i class="italic"> (a random name of your choosing)</i>
              <input type="text" class="form-control" name="formTitle">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Start Date</label>
              <input type="date" class="form-control" name="startDate" placeholder="Enter Start Date">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">End Date</label>
              <input type="date" class="form-control" name="endDate" placeholder="Enter End date">
            </div>

            <div class="form-group col-md-12">
              <label class="label-register label-name">Jute Types</label>

              <div class="card">
                <div class="card-body">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="whiteJute" value="White Jute">
                    <label class="form-check-label checkbox-item">White Jute</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tossaJute" value="Tossa Jute">
                    <label class="form-check-label checkbox-item">Tossa Jute</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="mestaJute" value="Mesta Jute">
                    <label class="form-check-label checkbox-item">Mesta Jute</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="juteCuttings" value="Jute Cuttings">
                    <label class="form-check-label checkbox-item">Jute Cuttings</label>
                  </div>
                </div>
              </div>


            </div>

            <div class="form-group col-md-6">
              <label class="label-register label-name">Area of Land Owned </label><i class="italic"> (in sq ft.)</i>
              <input type="number" class="form-control" name="areaOfLandOwned" placeholder="Enter Total Area of land for cultivation">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Area of Land Used</label><i class="italic"> (in sq ft.)</i>
              <input type="number" class="form-control" name="areaOfLandUsed" placeholder="Enter Total Area of land used for cultivation">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Labourers Hired </label> <i class="italic">(if any) - Optional</i>
              <input type="number" class="form-control" name="labourersHired" placeholder="Enter total number of hired labourers">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Labourers wage per day </label>
              <input type="number" class="form-control" name="labourersWagePerDay" placeholder="Enter Labourers wage per day">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Farm Land Rent</label><i class="italic"> (if not owned by you) - Optional</i>
              <input type="number" class="form-control" name="farmLandRent" placeholder="Enter Land Rent">
            </div>

            <div class="form-group col-md-12">
              <label class="label-register label-name">Expenses :</label>
              <div class="card">
                <div class="card-body">


                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Godown Rent</label>
                    <input type="number" class="form-control" name="godownRent" placeholder="Enter the Godown Rent">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Seeds Cost</label>
                    <input type="number" class="form-control" name="seedsCost" placeholder="Enter the total cost of the seeds">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Plant Protection Chemical Cost</label>
                    <input type="number" class="form-control" name="ppcCost" placeholder="Enter the Plant Protection Chemical Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">FYM (Farm Yard Manure) Cost</label>
                    <input type="number" class="form-control" name="fymCost" placeholder="Enter the FYM Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Fertilizers Cost</label>
                    <input type="number" class="form-control" name="fertilizerCost" placeholder="Enter the Feritilizers Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Ploughing Cost</label><i class="italic"> (ex: Feeding Oxes, Equipments, etc)</i>
                    <input type="number" class="form-control" name="ploughingCost" placeholder="Enter the total Ploughing Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Irrigation Cost</label>
                    <input type="number" class="form-control" name="irrigationCost" placeholder="Enter the Irrigation Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Harvesting Cost</label><i class="italic"> (ex: Tractor Fuel, Equipments, etc)</i>
                    <input type="number" class="form-control" name="harvestingCost" placeholder="Enter the total Harvesting Cost">
                  </div>
                  <div class="form-group col-md-8">
                    <label class="label-register label-expenses-name">Transport Cost</label>
                    <input type="number" class="form-control" name="transportCost" placeholder="Enter the Transport Cost">
                  </div>



                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="label-register label-name">Selling Price per unit </label>
              <input type="number" class="form-control" name="sellingPricePerUnit" placeholder="Enter Cost per unit ">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Discounts</label><i class="italic"> - Optional</i>
              <input type="number" class="form-control" name="discounts" placeholder="Enter discounts (if any) ">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Total Units Produced </label><i class="italic"></i>
              <input type="number" class="form-control" name="totalUnitsProduced" placeholder="Enter Total units Produced">
            </div>
            <div class="form-group col-md-6">
              <label class="label-register label-name">Total Units Sold </label><i class="italic"></i>
              <input type="number" class="form-control" name="totalUnitsSold" placeholder="Enter Total units sold">
            </div>
            <div class="form-group col-md-12">
              <label class="label-register label-name">Total Sales</label><i class="italic"></i>
              <input type="number" class="form-control" name="totalSales" placeholder="Enter Total Sales">
            </div>


            <div class="text-center">
              <button type="submit" class="btn btn-home btn-lg btn-calculate btn-light">Calculate Profits Earned</button>
            </div>

        </form>

      </div>


    </div>
  </div>
  </div>
  </div>

  <%- include('partials/footer') %>

</html>
