*{
  padding: 0px;
}

body{
    /* background-color: rgb(47, 152, 204); */
    background-color: black;
    background-image: url('..\\images\\bag-2179090.jpg');
    margin-top: 0px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #fff;
}

/* Navigation bar */

nav a {
  color: #fff;
  text-decoration: none !important;
}

nav a:hover {
  color: #df8931;
}



.navbar-brand{
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  color: #dbcbbd;

  /* background-color: rgb(1, 10, 14); */
}

.navbar {
  height: 68px;
  background-color: #000000;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.8);
}

.navbar-nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

/* -----------main.ejs & navbar --------- */
/* navbar-nav */

.current-user {
  font-weight: bold;
}

/* ------------------------------ */
.nav-item {
  padding: 1px 5px;

}

.ml-auto{
  padding: 0px 5px;
}

.dropdown-menu{
  background-color: #dbcbbd;
}

/* Login and download button  */



.btn-home {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding: 10px;
  margin: 5px;
}

/* Description */

.container-fluid {

  padding: 0px;
}



#description {
  padding: 200px 50px 120px 50px;
}

.info{
  color: #fff;
  font-size: 1.9rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
}

.desc {
  margin-bottom: 0;
}

/* Footer */

.copyright{
  opacity: 0.5;
  margin-top: 10px;
}

#footer{
  font-family: "Montserrat";
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 1px;
  color: #D0D0D0;
}

.footer-link{
  color: #D0D0D0;
  margin: 10px;
}

#footer a:hover {
  color: #290001;
}


/* REGISTER PAGE & LOGIN PAGE */

.card {
  background-color: rgba(255,255,255, 0.2);
}

.label-register {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
}

.title {
  margin-top: 7rem;
}

.reg {
  display: inline-block;
}

.register-link {
  margin-left: 5px;
  color: #D3D3D3;
}

.register-link:hover {
  text-decoration: none;
  color: #fff;
}

.alert {
 border-radius: 0;
 margin-top: 65px;
 border-radius: 0;
 margin-bottom: 0;
}

.para {
  font-size: 1.5rem;
  color: #fff;
}

/* FORM PAGE --> MAIN */



.label-name {
  font-size: 19px;
}

.checkbox-item {
  font-size: 18px;
  letter-spacing: 1.3;
  line-height: 1.5px;
  color: #fff;
}
.italic{
  font-size: 18px;
  color: #fff;
}

.form-check {
  display: inline-block;
  margin: 0 30px;
}

.label-expenses-name {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.6px;
}

.btn-calculate {
  margin: 10px
}

 /* Form output display */

.card-css {
  margin-bottom: 10px;
}

h4, th, td {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h4 {
  margin-top: 100px;
  font-weight: bold;
}

th {

}

td {

}
